@model FilmDukkaniMvc.Musteriler

@{
    ViewBag.Title = "Müsteri Sil";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<h3>Bu Müşteriyi Silmek İstediğinizden Eminmisini.?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="(Evet) Sil" class="btn btn-default sil" /> <br /><br />
            @Html.ActionLink("Geri Dön", "MusteriListesi")
        </div>
    }
</div>
