@model FilmDukkaniMvc.Models.PersonelModel

@{
    ViewBag.Title = "Personel Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bu Personeli Silmek İstediğinizden Eminmisiniz.?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

  

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eposta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="(Evet) Sil" class="btn btn-default sil" /> <br /><br />
            @Html.ActionLink("Geri Dön", "PersonelListesi")
        </div>
    }
</div>
