@using System.Web.Optimization
@model FilmDukkaniMvc.Oyuncular

@{
    ViewBag.Title = "Oyuncu Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Style{
    @Styles.Render("~/Content/bootstrap")
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adi)
                @Html.ValidationMessageFor(model => model.Adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soyadi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soyadi)
                @Html.ValidationMessageFor(model => model.Soyadi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-default duzenle" />
            </div>
        </div>
    </div>
}

<div>
    <br /><br />
    @Html.ActionLink("Geri Dön", "OyuncuListesi")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
