@model IEnumerable<Iller>
<div class="form-group">
    <span class="control-label col-md-2">
        @Html.Label("Şehir")
    </span>
    <div class="col-md-10">

        <select id="Sehir" name="Sehir" class="valid">
            <option value="">Lütfen Seçin...</option>
            @foreach (var item in @Model)
            {
                if (@ViewBag.sehirId != null && item.ID == @ViewBag.sehirId)
                {
                    <option value="@item.ID" selected onchange="this;">@item.IlAdi</option>
                }
                <option value="@item.ID">@item.IlAdi</option>
            }

        </select>
        @Html.ValidationMessage("Iller")
    </div>
</div>
<div class="form-group">
    <span class="control-label col-md-2">
        @Html.Label("İlce")
    </span>
    <div class="col-md-10">
        <select id="Ilce" name="ilceId"></select>

    </div>
    @Html.ValidationMessage("Ilce")
</div>
